:root{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    --bg-color: #564779;
    --box-color: #C17F8B;
    --page-color:  #DE978F;
    --copy-trans-color: #9D6C82;
    --copy-click-color: #2B2F6C;
}


html{
    scroll-padding-top: 3rem;
    scroll-behavior:smooth;
}

body{
    background-color: var(--bg-color);
    margin: 0;
    padding-top: 4rem;
}

h1{
    display: flex;
    justify-content: center;
    color: white;
}

#back-img {
    height: 2.5rem;
    margin-right: 1rem;
}

#back{
    position: fixed;
    top: 0;
    left: 0;
    padding: .5rem;
    border-radius: .4rem;
    margin: 0;
}

#nothing{
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 1rem;
}

#back:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}


div{
    max-width: 32rem;
}

div > a > img{
    width: 2rem;
    height: 2rem;
}

h2{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

#menu {
    background-color: var(--copy-click-color);
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 3rem;
    height: 2.5rem;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

#menu > li {
    list-style: none;
    padding: 0 0.8rem;
    height: inherit;
    transition: 250ms;
    border-radius: .2rem;
}

#menu > li > a{
    display: flex;
    align-items: center;
    color: white;
    height: inherit;
}

#menu > li:hover{
    background-color: var(--copy-trans-color);
    cursor: pointer;
}



#graduando{
    font-weight: bolder;
    margin-bottom: .5rem;
}

.intro{
    text-align: justify;
}

.inside-box{
    background-color: var(--box-color);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    transition: 250ms;
}

.inside-box > h3{
    display: flex;
    justify-content: center;
}

.inside-box:hover{
    box-shadow: .1rem .2rem .2rem var(--bg-color);
}


#portfolio {
    margin: auto;
    padding: 2rem;
    background-color: var(--page-color);
    border-radius: 1rem;
}

.copy-icon{
    width: 1.6rem;
    height: 1.6rem;
    border: .12rem black solid;
    border-radius: .2rem;
    transition: all .3s;
    padding: .15rem;
    margin-top: .5rem;
    opacity: 50%;
    display: none;
}
.copy-icon:hover{
    cursor: pointer;
    background-color: var(--copy-trans-color);
}
.copy-icon:active{
    background-color: var(--copy-click-color);
}

#email{
    display: flex;
    justify-content: space-between;
    margin-right: 8rem;
}


.xp{
    display: flex;
    justify-content: space-between;
}

.link{
    display: flex;
    margin-top: .7rem;
    width: fit-content;
    transition: 250ms;
    padding: .3rem;
    border-radius: .5rem;
}

.link:hover{
    box-shadow: .1rem .2rem .2rem var(--bg-color);
}


.link > a{
    display: flex;
    align-items: center;
    gap: 1rem;
}



#profile-photo {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}


h3{
    margin: 0;
}

p{
    margin: 0;
}

img{
    height: inherit;
    width: inherit;
    border-radius: inherit;
}




@media only screen and (max-width:40rem) {
/* TODO
responsive menu */
}
