p {
    margin: 6px;
}


.ciclo-cont{
    color:brown;
    padding-right: 10px;
}

body{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

input {
    font-size: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 10px
}

.entries{
    padding: 0 10px;
}

button {
    font-size: 20px;
}

h4{
    background-color: aquamarine;
    margin: 0;
    text-align: center;
    padding: 10px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

.ciclo{
    min-width: 90px;
    margin: 1rem;
    border: solid 2px black;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}