
#pokemons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 64px;
}


.pokemon {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 350px;
    padding: 0 20px;
    margin-top: 150px;
    border-radius: 40px;
}

.pokemon img{
    width: 400px;
    align-self: center;
    margin-top: -150px;
}


footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.id, .nome, .tipos{
    font-size: 30px;
}

.tipos{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px
}


.type{
    padding: 5px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-normal{
    background-color: #ca98a7;
}

.main-fighting{
    background-color: #ef6138;
}

.main-flying{
    background-color: #93b2c7;
}

.main-poison{
    background-color: #9b69d9;
}

.main-ground{
    background-color: #6e491f;
    color: white;
}

.main-rock{
    background-color: #8b3e21;
    color: white
}

.main-bug{
    background-color: #3b9950;
}

.main-ghost{
    background-color: #906790;
}

.main-steel{
    background-color: #42bd94;
}

.main-fire{
    background-color: #fd4c5a;
}

.main-water{
    background-color: #86a8fc;
}

.main-grass{
    background-color: #27cb4f;
}

.main-electric{
    background-color: #fbfb72;
}

.main-psychic{
    background-color: #f81c91;
    color: white;
}

.main-ice{
    background-color: #d8f0fa;
}

.main-dragon{
    background-color: #60cad9;
}

.main-dark{
    background-color: #5a5979;
    color: white;
}

.main-fairy{
    background-color: #ea1369;
}

.main-unknown{
    background-color: #f0ccf5;
}

.main-shadow{
    background-color: #76728b;
    color: white
}




.type-normal{
    background-color: #75515a;
    color: white
}

.type-fighting{
    background-color: #994025;
    color: white
}

.type-flying{
    background-color: #4a677d;
    color: white
}

.type-poison{
    background-color: #5e2d88;
    color: white
}

.type-ground{
    background-color: #a9702c;
    color: white
}

.type-rock{
    background-color: #48180b;
    color: white
}

.type-bug{
    background-color: #1c4b27;
    color: white
}

.type-ghost{
    background-color: #33336b;
    color: white
}

.type-steel{
    background-color: #5f756d;
    color: white
}

.type-fire{
    background-color: #ab1f23;
    color: white
}

.type-water{
    background-color: #1552e2;
    color: white
}

.type-grass{
    background-color: #147b3b;
    color: white
}

.type-electric{
    background-color: #e3e32b;
}

.type-psychic{
    background-color: #a42a6c;
    color: white
}

.type-ice{
    background-color: #86d2f5;
}

.type-dragon{
    background-color: #448b95;
    color: white
}

.type-dark{
    background-color: #040706;
    color: white
}

.type-fairy{
    background-color: #971944;
    color: white
}

.type-unknown{
    background-color: #ae6cb6;
    color: white
}

.type-shadow{
    background-color: #43414d;
    color: white
}

