body{
    display: flex;
    gap: 30px;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

img {
    width: 400px;
}

.tituloimg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar{
    background: rgb(121, 151, 205);
    margin-bottom: 50px;
    display: grid;
    gap: 6px;
    width: 300px;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
}

#calendariolegenda{
    display: flex;
}

.calendar-row{
    display: grid;
    gap: 10px;
    height: 34px;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-day{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.weekday{
    display: flex;
    align-items: center;
    justify-content: center;
}

.month{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.weekrow{
    height: 1.5rem;
    font-size: 1rem;
}

.folga{
    background: chartreuse;
}


.hoje{
    background: rgb(243, 234, 230);
}
.sem-folga{
    background: #ff006e;
}

.dormindo{
    background: #00b4d8
}

h1{
    text-align: center;
}

.leg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 6rem;
    font-size: 1rem;
}

#legendas{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 640px){
    body{
        flex-direction: column;
        align-items: center;
    }

    #calendariolegenda{
        flex-direction: column;
    }

    .calendar-row{
        display: grid;
        gap: 7px;
        height: 34px;
        grid-template-columns: repeat(7, 1fr);
    }

    .calendar{
        background: rgb(121, 151, 205);
        margin-bottom: 50px;
        display: grid;
        gap: 10px;
        width: 300px;
        height: fit-content;
        padding: 1rem;
        border-radius: 1rem;
    }

    .weekrow{
        height: 1.5rem;
        font-size: 1rem;
    }

    img{
        width: 300px;
    }

    .leg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        font-size: 1rem;
    }

    #aslegendas{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }

    #legendas{
        display: flex;
        align-items: center;
    }
    
    
}